<h3>Shopping List</h3>
<hr />
<div class='row' style='padding-bottom: 2rem'>
  <div class='col-md-10 col-sm-10 col-xs-12'>
    <app-shopping-edit></app-shopping-edit>
  </div>
</div>
<div class='row' style='padding-bottom: 2rem'>
  <div class='col-md-10 col-sm-10 col-xs-12'>
    <ul class="list-group">
      <a class='list-group-item' style='cursor: pointer' *ngFor='let ingredient of ingredients'>
        {{ ingredient.name }} ({{ ingredient.amount}})
      </a>
    </ul>
  </div>
</div>
<div class='row'>
  <div class='col-md-10 col-sm-10 col-xs-8'>
    <p>the list itself goes here</p>
  </div>
  <div class='col-md-2 col-sm-2 col-xs-4'>
    <p>delete btn maybe?</p>
  </div>
</div>