<app-header (pageName)='onNavigate($event)'></app-header>
<div class='container'>
  <!-- <div class='row' *ngIf="page =='recipes'"> -->
  <div class='row' *appUnless="page =='shopping-list'">
    <div class='col-xs-12'>
      <app-recipes></app-recipes>
    </div>
  </div>
  <!-- <div class='row' *ngIf="page =='shopping-list'"> -->
  <div class='row' *appUnless="page == 'recipes'">
    <div class='col-xs-12'>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-xs-12'>
      <p appHighlight>
        Basic Directive Test: Tries to directly access the DOM, but sometimes angular doesn't need to run with a DOM.
      </p>
      <p appAdvHighlight [defaultColor]="'transparent'" highlightColor='yellow'>
        Advance Directive Test: Using renderer is a better approach.
      </p>
    </div>
  </div>
</div>
